__pycache__/
*.pyc
.venv/
venv/
.env
*.egg-info/
build/
dist/
.pytest_cache/
.ruff_cache/
.git/
.github/

outputs/
*.bin
*.safetensors
*.pt
wandb/

.DS_Store
.idea/
.vscode/

sales/
tests/
notebooks/
customers/
customers.db
.kaggle_work/
